
/*

blue: #00b2b2
light blue: #7fd9d9
dark blue: #005959

black: #001111
white: #f9fdfd

*/

/* GENERAL */

body
{
    font-size: 2vh;

    color: #011;
    background-color: #f9fdfd;
}

#main-content
{
    position: relative;

    min-height: 100vh;
    max-height: 100vh;
}

#main-content > div
{
    position: absolute;

    width: 100%;
    height: 100%;
}

.hidden
{
    visibility: hidden;
}

a,
a:hover,
a:focus,
a:visited
{
    display: block;

    text-decoration: none;

    color: inherit;
}

input,
button
{
    margin: 0;
    padding: 0;

    border: 0;
    outline: 0;
}

button
{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;

    border-radius: 100vh;
}

button:hover
{
    margin: 0;
    padding: 0;

    cursor: pointer;

    border: 0;
    outline: 0;
}

.fa
{
    font-size: 2.5em;
}

/* FONTS */

.oswald-dark-normal
{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;

    color: #011;
}

.oswald-dark-semibold
{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;

    color: #011;
}

.oswald-light-normal
{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;

    color: #f9fdfd;
}

.oswald-light-semibold
{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;

    color: #f9fdfd;
}

.open-sans-dark-normal
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    color: #011;
}

.open-sans-dark-bold
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

    color: #011;
}

.open-sans-light-normal
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    color: #f9fdfd;
}

.open-sans-light-bold
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

    color: #f9fdfd;
}

/* OTHER */

.login-screen
{
    background-color: #00b3b3;
}

.login-logo
{
    position: absolute;
    top: 20vh;
    right: 0;
    left: 0;

    width: 10vh;
    height: 10vh;
    margin: auto;

    background: url('../img/Z white.svg') no-repeat;
    background-size: 100% auto;
}

#login-form
{
    margin-top: 40vh;

    text-align: center;
}

#login-form input
{
    font-size: 3vh;
    line-height: 6vh;

    width: 100%;
    margin-bottom: 5vh;

    text-align: center;
}

#login-form button
{
    font-size: 3vh;
    line-height: 7vh;

    width: 100%;
    margin-top: 4vh;

    color: #f9fdfd;
    background: #005959;
}

#login-form button:hover
{
    color: #011;
    background: #7fd9d9;
}

.login-screen .copyright
{
    font-size: 75%;

    position: absolute;
    bottom: 2vh;

    width: 100%;

    text-align: center;
}

.main-screen > div
{
    float: left;

    width: 9vh;
    height: 100vh;
}

.sidebar
{
  background-color: #00b3b3;
}

.sidebar-popup
{
  background-color: black;
}

.sidebar-thumb
{
  background-color: grey;
}

.main-panel
{
  background-color: orange;
}

/* MEDIA */

@media (min-width: 1px)
{
    [class^='col-']
    {
        padding-right: 0;
        padding-left: 0;
    }

    .row
    {
        margin-right: 0;
        margin-left: 0;
    }
}
